* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
	user-select: none;
}

html {
	font-size: 60.5%;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to top left, #753682 2%, #bf2e34 100%);
}

.Instmodal {
	position: absolute;
	width: 80%;
	height: auto;
	margin: 20px auto 0;
	background: #beadad;
	padding: 50px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(100, 100, 100, 0.4);
	z-index: 10;
}

.closeBtn {
	position: absolute;
	top: 10px;
	right: 30px;
	font-weight: 400;
	font-size: 5rem;
	color: rgb(143, 4, 4);
	cursor: pointer;
	transition: 0.2s ease;
}

.closeBtn:hover {
	color: red;
}

.Instmodal h1 {
	font-family: monospace;
	font-size: 3.4rem;
	text-align: center;
	margin-bottom: 10px;
}

.Instmodal ul {
	font-family: monospace;
	text-align: left;
	font-size: 2.2rem;
	font-weight: 600;
}

.Instmodal ul li {
	font-family: monospace;
	font-weight: 600;
	font-size: 2.2rem;
	padding-block: 5px;
}

.Instmodal ul li:first-child {
	padding-top: 15px;
}

.Instmodal ul li:last-child {
	padding-bottom: 15px;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 9;
}

main {
	position: relative;
	width: 100rem;
	height: 60rem;
	background: rgba(255, 255, 255, 0.35);
	backdrop-filter: blur(200px);
	filter: blur();
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	overflow: hidden;
	display: flex;
}

.player {
	flex: 50%;
	padding: 9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.75s;
}

.name {
	position: relative;
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: 300;
	margin-bottom: 1rem;
}

.score {
	font-size: 8rem;
	font-weight: 300;
	color: #c7365f;
	margin-bottom: auto;
}

.player--active {
	background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
	font-weight: 700;
	/* transition: 0.3s ease-in-out; */
}

.player--active .score {
	font-weight: 400;
}

.player--active .current {
	opacity: 1;
}

.current {
	background-color: #c7365f;
	opacity: 0.8;
	border-radius: 9px;
	color: #fff;
	width: 65%;
	padding: 2rem;
	text-align: center;
	transition: all 0.75s;
}

.current .current-label {
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 1.7rem;
	color: #dde;
}

.current-score {
	font-size: 3.5rem;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #444;
	border: none;
	font-family: inherit;
	font-size: 1.8rem;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 400;
	transition: all 0.2s;
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(10px);
	padding: 0.7rem 2.5rem;
	border-radius: 50rem;
	box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
	font-size: 2.4rem;
	display: inline-block;
	margin-left: 0.7rem;
}

#newBtn {
	top: 4rem;
}

#rollDice {
	top: 39.3rem;
}

#hold {
	top: 46.1rem;
}

.btn:active {
	transform: translate(-50%, 3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
	outline: none;
}

.dice {
	width: 100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 16.5rem;
	filter: drop-shadow(0 2rem 5rem rgba(0, 0, 0, 0.2));
}

.player--winner {
	background-color: rgba(255, 162, 75, 0.733);
}

.player--winner .name {
	font-weight: 700;
	color: #c7365f;
}

.player--winner .score {
	font-size: 3rem;
}

.hidden {
	display: none;
}
